.form-center {
  @include set-background(#eee);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  @include set-background(#fff);
  width: 25%;
  padding: 42px 22px 30px;
  text-align: center;
  box-shadow: 2px 3px 5px rgba($color: #000, $alpha: 0.05);

  h1 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 22px;
  }

  form {
    margin-bottom: 22px;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 4px 0 20px;

    label {
      text-transform: uppercase;
      margin-bottom: 4px;
    }

    input {
      width: 100%;
      padding: 8px;
      outline: none;
      border: 1px solid #aeaeae;
      border-radius: 5px;
    }
  }

  button {
    @include set-background(#111);
    width: 100%;
    padding: 8px;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid #111;
    cursor: pointer;
    transition: 0.2s ease all;
    border-radius: 15px;

    &:hover {
      background-color: transparent;
      color: #111;
    }
  }

  .register-link {
    font-size: 18px;
  }
}
