button {
  @include set-background(#111);
  padding: 8px;
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid #111;
  cursor: pointer;
  transition: 0.2s ease all;
  border-radius: 15px;

  &:hover {
    background-color: transparent;
    color: #111;
  }

  &.full {
    width: 100%;
  }

  &:disabled {
    cursor: default;
    opacity: 0.2;

    &:hover {
      @include set-background(#111);
    }
  }
}
