.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 22px 42px;
  border-bottom: 2px solid #eee;
  box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: 0.05);

  a {
    color: set-text-color(#fff);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    margin: 0 8px;

    &:hover {
      color: #555;
      text-decoration: underline;
    }
  }
}
