@import 'config';
@import 'button';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include set-background(#eee);
}

img {
  width: 100%;
}

a {
  color: blue;
}

.container {
  max-width: 1250px;
  margin: auto;
  padding-top: 100px;
}

@import 'header';
@import 'auth';
